.footer {
  position: absolute;
  left: 0;
  bottom: 64px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-left {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-right: 1em;
  gap: 1em;
}

.select {
  width: 200px;
}

.playButton {
  width: 64px;
  height: 48px;
  background-color: var(--bg-main);
  border: none;
  border-radius: 16px 0px 16px 0px;
  cursor: pointer;
}

.horizontal-slider {
  height: 50px;
}

.slider-thumb {
  background-color: #333;
  height: 24px !important;
  width: 8px !important;
  color: white;
  cursor: pointer;
  top: 10px !important;
}

.slider-track {
  position: relative;
  background: #ddd;
}

.slider-track.slider-track-1 {
  height: 6px !important;
  background: #222;
}

.slider-track.slider-track-0 {
  height: 6px !important;
  background: var(--bg-secondary);
}

.horizontal-slider .slider-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .slider-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}
