.stats {
    position: absolute;
    margin-top: 2em;
    width: fit-content;
    min-width: 180px;
    left: -1px;

    background-color: rgba(10, 10, 10, 0.9);
    border: 1px var(--bg-main) solid;
    border-radius: 4px;

    padding: 1em;
}