.tutorial-container {
    position: absolute;
    z-index: 999;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.tutorial {
    position: relative;
    background-color: #222034;
    border-radius: 2em;

    padding: 2em;

    border: 4px dashed rgba(0,0,0,0.5);
    margin: 4px;

    transform: skew(0, -4deg);

    animation-name: moveBox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.tut-close {
    display: none;
}